<meta name="theme-color" content="#002F47">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" href="/assets/pestcontrol/website/images/favicon.png" type="image/x-icon">
<script type="module" src="/assets/pestcontrol/dashboard/assets/main.js?v={{ asset_version('dashboard/assets/main.js') }}"></script>
