    <!-- Main Footer Start -->
    <footer class="main-footer dark-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- About Footer Start -->
                    <div class="about-footer footer-links">
                        <h3>About Skystar</h3>
                        <p>we are dedicated to creating safe, pest-free environments for homes and businesses alike. With years of experience in the pest control industry.</p>
                        <p>we pride ourselves on delivering effective, eco-friendly solutions tailored to your needs.</p>
                    </div>
                    <!-- About Footer End -->
                </div>

                <div class="col-lg-2 col-md-3">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>services</h3>
                        <ul>
                            <li><a href="/about">About company</a></li>
                            <li><a href="/services">Our services</a></li>
                            <li><a href="/projects">Our projects</a></li>
                            <li><a href="/blog">Our blogs</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>
                
                <div class="col-lg-2 col-md-4">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="/project-single">Home Pest Control</a></li>
                            <li><a href="/project-single">Commercial Pest</a></li>
                            <li><a href="/project-single">Termite & Rodent</a></li>
                            <li><a href="/project-single">Eco-Friendly Pest</a></li>
                            <li><a href="/project-single">Wildlife Removal</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-3 col-md-5">
                    <div class="footer-links">
                        <h3>contact us</h3>                        
                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="footer-contact-content">
                                <p><a href="tel:+966567407779">+966 56 740 7779</a></p>
                            </div>
                        </div>
                        <!-- Footer Contact Item End -->
                        
                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="footer-contact-content">
                                <p><a href="mailto:info@the-skystar.com">info@the-skystar.com</a></p>
                            </div>
                        </div>
                        <!-- Footer Contact Item End -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <img src="/assets/pestcontrol/website/icons/skystar-logo.png" alt="Skystar">
                        </div>
                        <!-- Footer Logo End -->

                        <!-- Footer Social Links Start -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Social Links End -->

                        <!-- Footer Copyright Text Start -->
                        <div class="footer-copyright-text">
                            <p>Copyright © {{ year }} Skystar. All Rights Reserved.</p>
                        </div>
                        <!-- Footer Copyright Text End -->                        
                    </div>
                    <!-- Footer Copyright End -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Main Footer End -->
