{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}{{ _("Blog") }} | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = _("Our blog") %}
    {% set page_breadcrumb = _("blog") %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Blog Start -->
    <div class="page-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- Choose Our Blog Nav start -->
                    <div class="our-blog-nav wow fadeInUp" data-wow-delay="0.25s">
                        <ul>
                            <li><a href="#" class="active-btn" data-filter="*">{{ _("all") }}</a></li>
                            {% for category in categories %}
                            <li><a href="#" data-filter=".{{ category_class(category) }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Choose Our Blog Nav End -->
                </div>

                <div class="col-lg-12">
                    <div class="row blog-item-boxes align-items-center">
                        {% for post in blog_posts %}
                        <div class="col-lg-4 col-md-6 blog-item-box {{ category_class(post.blog_category) }}">
                            <!-- Post Item Start -->
                            <div class="post-item wow fadeInUp" data-wow-delay="{{ loop.index0 * 0.2 }}s">
                                <!-- Post Featured Image Start-->
                                <div class="post-featured-image">
                                    <a href="/{{ post.route }}" data-cursor-text="View">
                                        <figure class="image-anime">
                                            <img src="{{ post.cover_image }}" alt="{{ localize(post, 'title') }}">
                                        </figure>
                                    </a>
                                </div>
                                <!-- Post Featured Image End -->

                                <!-- Post Item Body Start -->
                                <div class="post-item-body">
                                    <!-- Post Item Content Start -->
                                    <div class="post-item-content">
                                        <h2><a href="/{{ post.route }}">{{ localize(post, "title") }}</a></h2>
                                    </div>
                                    <!-- Post Item Content End -->

                                    <!-- Blog Item Button Start -->
                                    <div class="post-item-btn">
                                        <a href="/{{ post.route }}" class="readmore-btn">{{ _("read more") }}</a>
                                    </div>
                                    <!-- Blog Item Button End -->
                                </div>
                                <!-- Post Item Body End -->
                            </div>
                            <!-- Post Item End -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Blog End -->

{% endblock %}
