{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}{{ _("About Us") }} | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = _("About us") %}
    {% set page_breadcrumb = _("about us") %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- About Us Images Start -->
                    <div class="about-us-images">
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime">
                                <img src="/assets/pestcontrol/website/images/about-us-image.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->

                        <!-- About Us Circle Image Start -->
                        <div class="about-us-circle-img-1">
                            <figure class="image-anime">
                                <img src="/assets/pestcontrol/website/images/about-circle-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Circle Image End -->

                        <!-- About Us Circle Image Start -->
                        <div class="about-us-circle-img-2">
                            <figure class="image-anime">
                                <img src="/assets/pestcontrol/website/images/about-circle-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Circle Image End -->
                    </div>
                    <!-- About Us Images End -->
                </div>

                <div class="col-lg-7">
                    <!-- About us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">{{ _("about us") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Protecting home, businesses,") }} <span>{{ _("and communities") }}</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("Our mission is simple: to provide dependable pest management services that ensure a clean, safe, and comfortable environment for everyone. With years of expertise and a customer-first approach ,we go above and beyond to eliminate pests and prevent their return.") }}</p>
                        </div>
                        <!-- Section Title End -->

                        <div class="about-us-body">
                            <div class="about-us-list wow fadeInUp" data-wow-delay="0.4s">
                                <ul>
                                    <li>{{ _("Expertise You Can Trust") }}</li>
                                    <li>{{ _("24/7 Availability") }}</li>
                                    <li>{{ _("Certified Professionals") }}</li>
                                    <li>{{ _("Affordable Solutions") }}</li>
                                    <li>{{ _("Eco-Friendly Approach") }}</li>
                                    <li>{{ _("Advanced Techniques") }}</li>
                                    <li>{{ _("Customer-Focused Service") }}</li>
                                    <li>{{ _("Commitment to Excellence") }}</li>
                                </ul>
                            </div>

                            <div class="about-us-video-image wow fadeInUp" data-wow-delay="0.4s">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/about-us-video-image.jpg" alt="">
                                </figure>

                                <!-- Video Play Button Start -->
                                <div class="video-play-button">
                                    <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <!-- Video Play Button End -->
                            </div>
                        </div>

                        <!-- About Counter List Start -->
                        <div class="about-counter-list">
                            <!-- About Counter Item Start -->
                            <div class="about-counter-item">
                               <h2><span class="counter">{{ settings.years_experience or 0 }}</span>+</h2>
                               <p>{{ _("Years Of Experience") }}</p>
                            </div>
                            <!-- About Counter Item End -->

                            <!-- About Counter Item Start -->
                            <div class="about-counter-item">
                                <h2>{{ settings.projects_completed or "0" }}</h2>
                                <p>{{ _("Projects Completed") }}</p>
                            </div>
                            <!-- About Counter Item End -->

                            <!-- About Counter Item Start -->
                            <div class="about-counter-item">
                                <h2><span class="counter">{{ settings.team_size or 0 }}</span></h2>
                                <p>{{ _("Dedicated Team") }}</p>
                            </div>
                            <!-- About Counter Item End -->

                            <!-- About Counter Item Start -->
                            <div class="about-counter-item">
                                <h2><span class="counter">{{ settings.satisfaction_rate or 0 }}</span>%</h2>
                                <p>{{ _("Happy Customers") }}</p>
                            </div>
                            <!-- About Counter Item End -->
                        </div>
                        <!-- About Counter List End -->
                    </div>
                    <!-- About us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About us Section End -->

    <!-- Our Approach Section Start -->
    <div class="our-approach light-bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Approach Images Start -->
                    <div class="approach-images">
                        <!-- Approach Image 1 Start -->
                        <div class="approach-img-1">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/approach-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Approach Image 1 End -->

                        <!-- Approach Image Counter Start -->
                        <div class="approach-image-counter">
                            <div class="approach-img-2">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/approach-img-2.jpg" alt="">
                                </figure>
                            </div>

                            <div class="experience-box">
                                <div class="icon-box">
                                    <img src="/assets/pestcontrol/website/images/icon-experience.svg" alt="">
                                </div>
                                <div class="experience-content">
                                    <h2><span class="counter">{{ settings.years_experience or 0 }}</span>+</h2>
                                    <p>{{ _("Years Of experience") }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Approach Image Counter End -->
                    </div>
                    <!-- Approach Images End -->
                </div>

                <div class="col-lg-6">
                    <!-- Approach Content Start -->
                    <div class="approach-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">{{ _("Our approach") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Crafting,") }} <span>{{ _("shaping futures") }}</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("At the heart of everything we do lies a commitment to innovation and excellence. We believe in creating tailored solutions that address unique challenges, while fostering growth and sustainability for a brighter tomorrow.") }}</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Vision Mission Boxes Start -->
                        <div class="vision-mission-boxes">
                            <!-- Vision Mission Item Start -->
                            <div class="vision-mission-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="vision-mission-content">
                                    <h3>{{ _("Our vision") }}</h3>
                                    <p>{{ _("Our vision is to be a leader in our industry, setting new standards.") }}</p>
                                </div>
                                <div class="vision-mission-image">
                                    <figure class="image-anime">
                                        <img src="/assets/pestcontrol/website/images/vision-image.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Vision Mission Item End -->

                            <!-- Vision Mission Item Start -->
                            <div class="vision-mission-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="vision-mission-content">
                                    <h3>{{ _("Our mission") }}</h3>
                                    <p>{{ _("Our mission is to be leader in our industry, setting new standards.") }}</p>
                                </div>
                                <div class="vision-mission-image">
                                    <figure class="image-anime">
                                        <img src="/assets/pestcontrol/website/images/mission-image.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Vision Mission Item End -->
                        </div>
                        <!-- Vision Mission Boxes End -->

                        <!-- Approach List Start -->
                        <div class="approach-list wow fadeInUp" data-wow-delay="0.6s">
                            <ul>
                                <li>{{ _("Expertise You Can Trust, Backed by Years of Experience.") }}</li>
                                <li>{{ _("Expertise You Can Trust, Built on Years of Experience.") }}</li>
                                <li>{{ _("Our Skilled Team Delivers Consistent, Reliable Solutions.") }}</li>
                            </ul>
                        </div>
                        <!-- Approach List End -->

                        <!-- Approach Button Start -->
                        <div class="approach-button wow fadeInUp" data-wow-delay="0.8s">
                            <a href="/contact" class="btn-default">{{ _("Discover more") }}</a>
                        </div>
                        <!-- Approach Button End -->
                    </div>
                    <!-- Approach Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Approach Section End -->

    <!-- Our Passion Section Start -->
    <div class="our-passion">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <!-- Passion Image Content Start -->
                    <div class="passion-image-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">{{ _("What drives us") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Passion for innovation and") }} <span>{{ _("quality service") }}</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("We are driven by a commitment to deliver innovative, reliable, and high-quality pest control solutions that ensure long-lasting results.") }}</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Passion Image Start -->
                        <div class="passion-image">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/passion-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Passion Image End -->
                    </div>
                    <!-- Passion Image Content End -->
                </div>

                <div class="col-lg-5">
                    <!-- Passion Image List Start -->
                    <div class="passion-image-list">
                        <!-- Passion Image Start -->
                        <div class="passion-image">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/passion-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Passion Image End -->

                        <!-- Passion List Start -->
                        <div class="passion-list wow fadeInUp" data-wow-delay="0.2s">
                            <ul>
                                <li>{{ _("Expertise You Can Trust, Backed by Years of Experience.") }}</li>
                                <li>{{ _("Expertise You Can Trust, Built on Years of Experience.") }}</li>
                                <li>{{ _("Our Skilled Team Delivers Consistent, Reliable Solutions.") }}</li>
                                <li>{{ _("Trusted by Thousands, We Take Pride in Offering the.") }}</li>
                            </ul>
                        </div>
                        <!-- Passion List End -->

                        <!-- Passion Button Start -->
                        <div class="passion-button wow fadeInUp" data-wow-delay="0.4s">
                            <a href="/contact" class="btn-default">{{ _("contact us") }}</a>
                        </div>
                        <!-- Passion Button End -->
                    </div>
                    <!-- Passion Image List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Passion Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us light-bg-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">{{ _("why choose us") }}</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("What makes us the best") }} <span>{{ _("choice for you") }}</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("We understand how frustrating and disruptive pests can be, which is why we're committed to providing fast, reliable, and effective solutions.") }}</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Why Choose Box Start -->
                    <div class="why-choose-box">
                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Emergency Services") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Customized Treatments") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Certified Professionals") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Page Cta Box Start -->
                        <div class="page-cta-box wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Page Cta Box Info Start -->
                            <div class="page-cta-box-info">
                                <h3>{{ _("Take Back Your Home From Pests. Today!") }}</h3>
                            </div>
                            <!-- Page Cta Box Info End -->

                            <!-- Cta Contact Box Start -->
                            <div class="cta-contact-box">
                                <p>{{ _("call now") }}</p>
                                <div class="cta-contact-item">
                                    <div class="icon-box">
                                        <img src="/assets/pestcontrol/website/images/icon-cta-phone.svg" alt="">
                                    </div>
                                    <div class="cta-contact-item-content">
                                        <h3><a href="tel:{{ settings.phone }}">{{ settings.phone }}</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Cta Contact Box End -->
                        </div>
                        <!-- Page Cta Box End -->
                    </div>
                    <!-- Why Choose Box End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                        <p><span>{{ _("Free") }}</span>{{ _("Let's create a pest-free environment -") }} <a href="/contact">{{ _("Contact us today!") }}</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

    <!-- Our Legacy Section Start -->
    <div class="our-legacy">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Legacy Content Start -->
                    <div class="legacy-content">
                        <!-- Section Title Start -->
                        <div class="section-title section-title-center">
                            <h3 class="wow fadeInUp">{{ _("Our legacy") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Shaping excellence in") }} <span>{{ _("pest management") }}</span></h2>
                            <p>{{ _("Preserving our legacy with innovative and reliable pest control solutions, ensuring safety and satisfaction for every space we protect.") }}</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Legacy Button Start -->
                        <div class="legacy-button">
                            <a href="/contact" class="btn-default">{{ _("learn more") }}</a>
                        </div>
                        <!-- Legacy Button End -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- Legacy Item List Start -->
                    <div class="legacy-item-list">
                        <!-- Legacy Item Start -->
                        <div class="legacy-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-legacy-1.svg" alt="">
                            </div>
                            <div class="legacy-item-content">
                                <h3>{{ _("Expert techniques") }}</h3>
                                <p>{{ _("Using advanced tools and proven methods to ensure long-lasting pest control solutions.") }}</p>
                            </div>
                        </div>
                        <!-- Legacy Item End -->

                        <!-- Legacy Item Start -->
                        <div class="legacy-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-legacy-2.svg" alt="">
                            </div>
                            <div class="legacy-item-content">
                                <h3>{{ _("Eco-Friendly approach") }}</h3>
                                <p>{{ _("Committed to protecting your home and the environment with innovative green solutions.") }}</p>
                            </div>
                        </div>
                        <!-- Legacy Item End -->

                        <!-- Legacy Item Start -->
                        <div class="legacy-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-legacy-3.svg" alt="">
                            </div>
                            <div class="legacy-item-content">
                                <h3>{{ _("Trained professionals") }}</h3>
                                <p>{{ _("Our certified team provides expert pest control services, tailored to your specific needs.") }}</p>
                            </div>
                        </div>
                        <!-- Legacy Item End -->

                        <!-- Legacy Item Start -->
                        <div class="legacy-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-legacy-4.svg" alt="">
                            </div>
                            <div class="legacy-item-content">
                                <h3>{{ _("Timely service") }}</h3>
                                <p>{{ _("Delivering efficient and reliable pest control service exactly when you need them the most.") }}</p>
                            </div>
                        </div>
                        <!-- Legacy Item End -->
                    </div>
                    <!-- Legacy Item List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Legacy Section End -->

    <!-- Our Commitment Section Start -->
    <div class="our-commitment dark-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Commitment Content Start -->
                    <div class="commitment-content">
                        <!-- Section Title Start -->
                        <div class="section-title section-title-center">
                            <h3 class="wow fadeInUp">{{ _("our commitment") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Dedicated to long-term") }} <span>{{ _("pest control solutions") }}</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("We provide sustainable pest control solutions that address immediate issues and prevent future infestations.") }}</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Commitment List Start -->
                        <div class="commitment-list">
                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                <div class="skillbar" data-percent="55%">
                                    <div class="skill-data">
                                        <div class="skill-title">{{ _("Pest control effectiveness") }}</div>
                                    </div>
                                    <div class="skill-progress">
                                        <div class="count-bar"></div>
                                    </div>
                                </div>
                                <!-- Skill Item End -->
                            </div>

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                <div class="skillbar" data-percent="65%">
                                    <div class="skill-data">
                                        <div class="skill-title">{{ _("Long-term prevention") }}</div>
                                    </div>
                                    <div class="skill-progress">
                                        <div class="count-bar"></div>
                                    </div>
                                </div>
                                <!-- Skill Item End -->
                            </div>
                        </div>
                        <!-- Commitment List End -->
                    </div>
                    <!-- Commitment Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Commitment Images Start -->
                    <div class="commitment-images">
                        <!-- Commitment Image Start -->
                        <div class="commitment-img">
                            <figure>
                                <img src="/assets/pestcontrol/website/images/commitment-image.png" alt="">
                            </figure>
                        </div>
                        <!-- Commitment Image End -->

                        <!-- Contact Us Circle Start -->
                        <div class="contact-us-circle">
                            <a href="/contact">
                                <img src="/assets/pestcontrol/website/images/contact-us-circle.svg" alt="">
                            </a>
                        </div>
                        <!-- Contact Us Circle End -->

                        <!-- Experience Counter Box Start -->
                        <div class="experience-counter-box">
                            <h2><span class="counter">{{ settings.years_experience or 0 }}</span>+</h2>
                            <p>{{ _("Years of experience") }}</p>
                        </div>
                        <!-- Experience Counter Box End -->
                    </div>
                    <!-- Commitment Images End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Commitment Section End -->

    <!-- Our Team Section Start -->
    <div class="our-team">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">{{ _("our team") }}</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Dedicated experts supporting") }} <span>{{ _("your journey") }}</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-item wow fadeInUp">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="/team-single" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/team-1.jpg" alt="">
                                </figure>
                            </a>

                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="/team-single">{{ _("Arjun Khanna") }}</a></h3>
                            <p>{{ _("Technical Engineer") }}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="/team-single" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/team-2.jpg" alt="">
                                </figure>
                            </a>

                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="/team-single">{{ _("Cameron Williamson") }}</a></h3>
                            <p>{{ _("Security Specialist") }}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="/team-single" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/team-3.jpg" alt="">
                                </figure>
                            </a>

                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="/team-single">{{ _("leslie alexander") }}</a></h3>
                            <p>{{ _("Security Specialist") }}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="/team-single" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="/assets/pestcontrol/website/images/team-4.jpg" alt="">
                                </figure>
                            </a>

                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="/team-single">{{ _("michael johnson") }}</a></h3>
                            <p>{{ _("Support Manager") }}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team Section End -->

    <!-- Our Faqs Section Start -->
    <div class="our-faqs dark-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Our Faqs Images Start -->
                    <div class="our-faqs-images">
                        <!-- Faqs Image 1 Start -->
                        <div class="faqs-img-1">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/faqs-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Faqs Image 1 End -->

                        <!-- Faqs Image 2 Start -->
                        <div class="faqs-img-2">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/faqs-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Faqs Image 2 End -->

                        <!-- Faqs Image 3 Start -->
                        <div class="faqs-img-3">
                            <figure class="image-anime reveal">
                                <img src="/assets/pestcontrol/website/images/faqs-img-3.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Faqs Image 3 End -->
                    </div>
                    <!-- Our Faqs Images End -->
                </div>

                <div class="col-lg-6">
                    <!-- Our Faqs Content Start -->
                    <div class="our-faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">{{ _("frequently asked questions") }}</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Find helpful answers to your pest") }} <span>{{ _("control concerns") }}</span></h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- FAQ Accordion Start -->
                        <div class="faq-accordion" id="accordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        {{ _("1. What types of pests do you treat?") }}
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>{{ _("We handle a wide range of pests, including rodents, ants, cockroaches, termites, bed bugs, mosquitoes, spiders, and wildlife.") }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        {{ _("2. Are your pest control methods safe for my pets?") }}
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>{{ _("We handle a wide range of pests, including rodents, ants, cockroaches, termites, bed bugs, mosquitoes, spiders, and wildlife.") }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        {{ _("3. How often should I schedule pest control services?") }}
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>{{ _("We handle a wide range of pests, including rodents, ants, cockroaches, termites, bed bugs, mosquitoes, spiders, and wildlife.") }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        {{ _("4. Do you offer emergency pest control services?") }}
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>{{ _("We handle a wide range of pests, including rodents, ants, cockroaches, termites, bed bugs, mosquitoes, spiders, and wildlife.") }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        {{ _("5. How do I know if I have a pest infestation?") }}
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>{{ _("We handle a wide range of pests, including rodents, ants, cockroaches, termites, bed bugs, mosquitoes, spiders, and wildlife.") }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                    <!-- Our Faqs Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Faqs Section End -->

    <!-- Our Testimonials Section Start -->
    <div class="our-testimonials about-testimonials">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">{{ _("testimonials") }}</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Trusted by hundreds for reliable") }} <span>{{ _("pest control solutions") }}</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-1.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>{{ _("Oliver Spaltn") }}</h3>
                                                <p>{{ _("CEO at D.B.A Pvt. Ltd") }}</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"{{ _("Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!") }}"</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-2.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>{{ _("Ronald Richards") }}</h3>
                                                <p>{{ _("MD at D.B.A Pvt. Ltd") }}</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"{{ _("Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!") }}"</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-3.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>{{ _("Brooklyn Simmons") }}</h3>
                                                <p>{{ _("BOD at D.B.A Pvt. Ltd") }}</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"{{ _("Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!") }}"</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-4.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>{{ _("emily williams") }}</h3>
                                                <p>{{ _("Chairman") }}</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"{{ _("Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!") }}"</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonials Section End -->

{% endblock %}
