{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}{{ _("Services") }} | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = _("Our services") %}
    {% set page_breadcrumb = _("services") %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Services Start -->
    <div class="page-services">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <div class="col-lg-3 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="{{ loop.index0 * 0.2 }}s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="/{{ service.route }}" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{{ service.image }}" alt="{{ localize(service, 'service_name') }}">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <div class="icon-box">
                                <img src="{{ service.icon }}" alt="">
                            </div>
                            <div class="service-content">
                                <h3><a href="/{{ service.route }}">{{ localize(service, "service_name") }}</a></h3>
                                <p>{{ localize(service, "short_description") }}</p>
                            </div>
                            <div class="service-btn">
                                <a href="/{{ service.route }}" class="readmore-btn">{{ _("read More") }}</a>
                            </div>
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Page Services End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us light-bg-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <span class="section-kicker wow fadeInUp">{{ _("why choose us") }}</span>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("What makes us the best") }} <span>{{ _("choice for you") }}</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">{{ _("We understand how frustrating and disruptive pests can be, which is why we're committed to providing fast, reliable, and effective solutions.") }}</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Why Choose Box Start -->
                    <div class="why-choose-box">
                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Emergency Services") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Customized Treatments") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>{{ _("Certified Professionals") }}</h3>
                                <p>{{ _("We are available round the clock to address.") }}</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Page Cta Box Start -->
                        <div class="page-cta-box wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Page Cta Box Info Start -->
                            <div class="page-cta-box-info">
                                <h3>{{ _("Take Back Your Home From Pests. Today!") }}</h3>
                            </div>
                            <!-- Page Cta Box Info End -->

                            <!-- Cta Contact Box Start -->
                            <div class="cta-contact-box">
                                <p>{{ _("call now") }}</p>
                                <div class="cta-contact-item">
                                    <div class="icon-box">
                                        <img src="/assets/pestcontrol/website/images/icon-cta-phone.svg" alt="">
                                    </div>
                                    <div class="cta-contact-item-content">
                                        <h3><a href="tel:{{ settings.phone }}">{{ settings.phone }}</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Cta Contact Box End -->
                        </div>
                        <!-- Page Cta Box End -->
                    </div>
                    <!-- Why Choose Box End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                        <p><span>{{ _("Free") }}</span>{{ _("Let's create a pest-free environment -") }} <a href="/contact">{{ _("Contact us today!") }}</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

    <!-- Our Testimonials Section Start -->
    <div class="our-testimonials about-testimonials">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <span class="section-kicker wow fadeInUp">{{ _("testimonials") }}</span>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">{{ _("Trusted by hundreds for reliable") }} <span>{{ _("pest control solutions") }}</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                {% for testimonial in testimonials %}
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="{{ testimonial.client_photo }}" alt="{{ testimonial.client_name }}">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>{{ testimonial.client_name }}</h3>
                                                <p>{{ localize(testimonial, "designation") }}</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            {% for i in range(5) %}<i class="fa-{{ 'solid' if i < (testimonial.rating * 5)|round(0, 'floor') else 'regular' }} fa-star"></i>{% endfor %}
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"{{ localize(testimonial, "testimonial_text") }}"</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                {% endfor %}
                            </div>
                            <div class="testimonial-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonials Section End -->

{% endblock %}
