{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}Contact Us | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = "Contact us" %}
    {% set page_breadcrumb = "contact us" %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Contact Us Start -->
    <div class="page-contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Contact Info Box Start -->
                    <div class="contact-info-box">
                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-mail.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Email address</h3>
                                <p><a href="mailto:{{ settings.email }}">{{ settings.email }}</a></p>
                            </div>
                        </div>
                        <!-- Contact Info Item End -->

                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-phone.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Contact Us</h3>
                                <p><a href="tel:{{ settings.phone }}">{{ settings.phone }}</a></p>
                                {% if settings.whatsapp %}<p><a href="https://wa.me/{{ settings.whatsapp }}">{{ settings.whatsapp }}</a></p>{% endif %}
                            </div>
                        </div>
                        <!-- Contact Info Item End -->

                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-location.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>location</h3>
                                <p>{{ localize(settings, "address") }}</p>
                            </div>
                        </div>
                        <!-- Contact Info Item End -->

                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-clock.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Working Hours</h3>
                                <p>Mon - Sat :- 7:00 to 5:00</p>
                                <p>Sunday :- Close</p>
                            </div>
                        </div>
                        <!-- Contact Info Item End -->
                    </div>
                    <!-- Contact Info Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Contact Us End -->

    <!-- Contact Form Section Start -->
    <div class="contact-form-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Contact Us Box Start -->
                    <div class="contact-us-box">
                        <!-- Contact Us Form Start -->
                        <div class="contact-us-form">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Effective pest solutions - <span>reach out today!</span></h2>
                            </div>
                            <!-- Section Title End -->

                            <form id="contactForm" action="#" method="POST" data-toggle="validator" class="contact-form wow fadeInUp">
                                <div class="row">
                                    <div class="form-group col-md-6 mb-4">
                                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group col-md-6 mb-4">
                                        <input type="text" name="lname" class="form-control" id="lname" placeholder="Last name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group col-md-6 mb-4">
                                        <input type="email" name ="email" class="form-control" id="email" placeholder="E-mail" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group col-md-6 mb-4">
                                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone no." required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group col-md-12 mb-5">
                                        <textarea name="message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="btn-default"><span>send message</span></button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Contact Us Form End -->

                        <!-- Contact Us Image Start -->
                        <div class="contact-us-image">
                            <figure class="image-anime">
                                <img src="/assets/pestcontrol/website/images/contact-us-img.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Contact Us Image End -->
                    </div>
                    <!-- Contact Us Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Section End -->

    <!-- Google Map Section Start -->
    <div class="google-map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Google Map IFrame Start -->
                    <div class="google-map-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96737.10562045308!2d-74.08535042841811!3d40.739265258395164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1703158537552!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- Google Map IFrame End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Google Map Section End -->

{% endblock %}
