{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}{{ _("Projects") }} | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = _("Our projects") %}
    {% set page_breadcrumb = _("project") %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Projects Start -->
    <div class="page-projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- Choose Our Projects Nav start -->
                    <div class="our-project-nav wow fadeInUp" data-wow-delay="0.25s">
                        <ul>
                            <li><a href="#" class="active-btn" data-filter="*">{{ _("all") }}</a></li>
                            {% for category in categories %}
                            <li><a href="#" data-filter=".{{ category_class(category) }}">{{ _(category) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Choose Our Projects Nav End -->
                </div>

                <div class="col-lg-12">
                    <!-- Project Item Boxes start -->
                    <div class="row project-item-boxes align-items-center">
                        {% for project in projects %}
                        <div class="col-lg-4 col-md-6 project-item-box {{ category_class(project.category) }}">
                            <!-- Project Item Start -->
                            <div class="project-item wow fadeInUp" data-wow-delay="{{ loop.index0 * 0.2 }}s">
                                <div class="project-image">
                                    <figure>
                                        <img src="{{ project.image }}" alt="{{ localize(project, 'project_name') }}">
                                    </figure>
                                </div>
                                <div class="project-content">
                                    <h3>{{ localize(project, "project_name") }}</h3>
                                    <a href="/{{ project.route }}"><img src="/assets/pestcontrol/website/images/arrow-white.svg" alt=""></a>
                                </div>
                            </div>
                            <!-- Project Item End -->
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Project Item Boxes End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Projects End -->

{% endblock %}
