{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}{{ _("Video Gallery") }} | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = _("Our videos") %}
    {% set page_breadcrumb = _("videos") %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Video Gallery Start -->
    <div class="page-video-gallery">
        <div class="container">
            <div class="row">
                {% for item in gallery_items %}
                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery Image start -->
                    <div class="video-gallery-image wow fadeInUp" data-wow-delay="{{ loop.index0 * 0.2 }}s">
                        <a href="{{ item.video_url }}" class="popup-video" data-cursor-text="Play">
                            <figure>
                                <img src="{{ item.image }}" alt="{{ localize(item, 'title') }}">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery Image end -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Page Video Gallery End -->

{% endblock %}
