{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}Our Team | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = "Our team" %}
    {% set page_breadcrumb = "our team" %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Team Start -->
    <div class="page-team">
        <div class="container">
            <div class="row">
                {% for member in team_members %}
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="{{ loop.index0 * 0.2 }}s">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="/{{ member.route }}" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{{ member.photo }}" alt="{{ member.member_name }}">
                                </figure>
                            </a>

                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <ul>
                                    {% if member.instagram_url %}<li><a href="{{ member.instagram_url }}" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>{% endif %}
                                    {% if member.facebook_url %}<li><a href="{{ member.facebook_url }}" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>{% endif %}
                                    {% if member.twitter_url %}<li><a href="{{ member.twitter_url }}" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a></li>{% endif %}
                                </ul>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->

                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="/{{ member.route }}">{{ member.member_name }}</a></h3>
                            <p>{{ localize(member, "designation") }}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Page Team End -->

{% endblock %}
