{% extends "pestcontrol/templates/includes/website_base.html" %}

{% block title %}Pricing | Skystar{% endblock %}

{% block page_header %}
    {% set page_h1 = "Pricing plan" %}
    {% set page_breadcrumb = "pricing" %}
    {% include "pestcontrol/templates/includes/page_header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Pricing Start -->
    <div class="page-pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Pricing Item Start -->
                    <div class="pricing-item wow fadeInUp">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Basic Plan</h3>
                            <h2>$99.00</h2>
                        </div>
                        <!-- Pricing Header End -->
            
                        <!-- Pricing Body Start -->
                        <div class="pricing-body">
                            <ul>
                                <li>Full-service pest control</li>
                                <li>Detailed inspection</li>
                                <li>Customized treatment plan</li>
                                <li>Coverage for larger properties</li>
                                <li>Priority emergency service.</li>
                            </ul>
                        </div>
                        <!-- Pricing Body End -->
            
                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="/contact" class="btn-default">Get Started Now</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <!-- Pricing Item Start -->
                    <div class="pricing-item highlighted-box wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Premium Plan</h3>
                            <h2>$399.00</h2>
                        </div>
                        <!-- Pricing Header End -->
            
                        <!-- Pricing Body Start -->
                        <div class="pricing-body">
                            <ul>
                                <li>Full-service pest control</li>
                                <li>Detailed inspection</li>
                                <li>Customized treatment plan</li>
                                <li>Coverage for larger properties</li>
                                <li>Priority emergency service.</li>
                            </ul>
                        </div>
                        <!-- Pricing Body End -->
            
                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="/contact" class="btn-default btn-highlighted">Get Started Now</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <!-- Pricing Item Start -->
                    <div class="pricing-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Standard Plan</h3>
                            <h2>$199.00</h2>
                        </div>
                        <!-- Pricing Header End -->
            
                        <!-- Pricing Body Start -->
                        <div class="pricing-body">
                            <ul>
                                <li>Full-service pest control</li>
                                <li>Detailed inspection</li>
                                <li>Customized treatment plan</li>
                                <li>Coverage for larger properties</li>
                                <li>Priority emergency service.</li>
                            </ul>
                        </div>
                        <!-- Pricing Body End -->
            
                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="/contact" class="btn-default">Get Started Now</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>
            
                <div class="col-lg-12">
                    <!-- Pricing Benefit List Start -->
                    <div class="pricing-benefit-list wow fadeInUp" data-wow-delay="0.6s">
                        <ul>
                            <li><img src="/assets/pestcontrol/website/images/icon-pricing-benefit-1.svg" alt="">Get 30 day free trial</li>
                            <li><img src="/assets/pestcontrol/website/images/icon-pricing-benefit-2.svg" alt="">No any hidden fees pay</li>
                            <li><img src="/assets/pestcontrol/website/images/icon-pricing-benefit-3.svg" alt="">You can  cancel anytime </li>
                        </ul>
                    </div>
                    <!-- Pricing Benefit List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Pricing End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us light-bg-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">why choose us</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">What makes us the best <span>choice for you</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We understand how frustrating and disruptive pests can be, which is why we're committed to providing fast, reliable, and effective solutions.</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <!-- Why Choose Box Start -->
                    <div class="why-choose-box">
                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Emergency Services</h3>
                                <p>We are available round the clock to address.</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Customized Treatments</h3>
                                <p>We are available round the clock to address.</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Why Choose Item Start -->
                        <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="/assets/pestcontrol/website/images/icon-why-choose-1.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Certified Professionals</h3>
                                <p>We are available round the clock to address.</p>
                            </div>
                        </div>
                        <!-- Why Choose Item End -->

                        <!-- Page Cta Box Start -->
                        <div class="page-cta-box wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Page Cta Box Info Start -->
                            <div class="page-cta-box-info">
                                <h3>Take Back Your Home From Pests. Today!</h3>
                            </div>
                            <!-- Page Cta Box Info End -->
        
                            <!-- Cta Contact Box Start -->
                            <div class="cta-contact-box">
                                <p>call now</p>
                                <div class="cta-contact-item">
                                    <div class="icon-box">
                                        <img src="/assets/pestcontrol/website/images/icon-cta-phone.svg" alt="">
                                    </div>
                                    <div class="cta-contact-item-content">
                                        <h3><a href="tel:+966567407779">+966 56 740 7779</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Cta Contact Box End -->
                        </div>
                        <!-- Page Cta Box End -->
                    </div>
                    <!-- Why Choose Box End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                        <p><span>Free</span>Let's create a pest-free environment - <a href="/contact">Contact us today!</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->
    
     <!-- Our Testimonials Section Start -->
     <div class="our-testimonials">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">testimonials</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Trusted by hundreds for reliable <span>pest control solutions</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-1.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>Oliver Spaltn</h3>
                                                <p>CEO at D.B.A Pvt. Ltd</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!"</p>								
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-2.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>Ronald Richards</h3>
                                                <p>MD at D.B.A Pvt. Ltd</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!"</p>								
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-3.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>Brooklyn Simmons</h3>
                                                <p>BOD at D.B.A Pvt. Ltd</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!"</p>								
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-author">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="/assets/pestcontrol/website/images/author-4.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="author-content">
                                                <h3>emily williams</h3>
                                                <p>Chairman</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"Excellent service! We had a major ant problem, and they took care of it quickly and professionally.!"</p>								
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonials Section End -->

{% endblock %}
